---
import "../styles/global.css";
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import asteriskInternationalistLogo from '../images/asterisk-internationalist-logo.svg';
import ascii from '../images/ascii.png';
import homepageCollage from '../images/homepage-collage.jpg';


// Fetch all articles from the content collection
const allArticles = await getCollection('articles');
// Sort by date, most recent first
const sortedArticles = allArticles.sort((a, b) => 
  b.data.date.valueOf() - a.data.date.valueOf()
);
---

<BaseLayout title="asterisk internationalist">
  <Header />
  
<main class="flex-1 container w-full">

	<section class="landing relative h-[80vh]]">
		<img src={asteriskInternationalistLogo.src} alt="Asterisk Internationalist Logo" class="w-11/12 px-8">
		<div class="w-dvw">
			<p class="font-mono mx-auto mt-8 px-4 leading-tight -rotate-[0.008203047rad] absolute right-0 text-lg">
				***************************************************************************************<br>
				This journal looks back at ************************* the Black Lesbian and Gay Centre's<br>
				********* (1985 to 2000) newsletter,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;***********************************************************<br>
				to ask how ********************************** text *********************<br>
				***********************************************************<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*******************************can best serve these communities today..<br>
				***************************************************************************************
			</p>
		</div>
		<img src={ascii.src} alt="ASCII Art" class="mt-44 mb-24 ml-24 w-56">
		<div class="font-courier-prime max-w-lg mx-auto mt-8 px-4 mr-16 leading-tight absolute top-0 right-0 text-sm -z-10 opacity-10">
			<p class="mb-8">After working on a screening of Veronica McKenzie's revelatory documentary <span class="italic">Under Your Nose</span> (2014), we were driven to look into and re-imagine the paper archives that it featured. Used in the film as testament to the media-based forms of communication and organising that had been undertaken by Britain's queer racialised communities in the '80s and '90s, they spoke to our interest in the aesthetic and editorial elements of community mobilisation while helping us better understand and connect with the labour, struggles and provocations of our predecessors.</p>
			<p class="mb-8">The original newsletter was a vital tool for transmitting news, announcing gatherings, sharing eulogies, missed connections, lonely hearts, international reporting, job listings and housing solutions, as well as supporting grassroots organising. Though the context has shifted, the newsletter's purpose—to connect and inform—remains just as relevant. The BLGC was effectively dismantled by Thatcher-era austerity, a political assault whose deployment has only intensified, with social spaces, cultural output and marginalised communities first in the line of attack. Meanwhile, our understanding of the umbrella terms 'LGBT' and 'black', as well as their intersections, has evolved and continues to invite interrogation and redefinition.</p>
			<p class="mb-8">This project embraces the value of long-form text as a space for reflection—both playful and serious—on the pressing issues affecting these communities. By revisiting the radical aims of the original publication, it will bring together contemporary writers, artists, and activists to create a critical, internationalist exploration of queer, racialised experiences as both their cinematic and real-life forms in the UK and beyond.</p>
		</div>
	</section>

	<section class="about">
		<img src={homepageCollage.src} alt="Collage" class="mt-44 mb-24 ml-24 max-w-lg float-left">
		<div class="font-courier-prime max-w-lg mx-auto mt-8 px-4 mr-16 leading-tight float-right text-sm">
			<p class="mb-8">After working on a screening of Veronica McKenzie's revelatory documentary <span class="italic">Under Your Nose</span> (2014), we were driven to look into and re-imagine the paper archives that it featured. Used in the film as testament to the media-based forms of communication and organising that had been undertaken by Britain's queer racialised communities in the '80s and '90s, they spoke to our interest in the aesthetic and editorial elements of community mobilisation while helping us better understand and connect with the labour, struggles and provocations of our predecessors.</p>
			<p class="mb-8">The original newsletter was a vital tool for transmitting news, announcing gatherings, sharing eulogies, missed connections, lonely hearts, international reporting, job listings and housing solutions, as well as supporting grassroots organising. Though the context has shifted, the newsletter's purpose—to connect and inform—remains just as relevant. The BLGC was effectively dismantled by Thatcher-era austerity, a political assault whose deployment has only intensified, with social spaces, cultural output and marginalised communities first in the line of attack. Meanwhile, our understanding of the umbrella terms 'LGBT' and 'black', as well as their intersections, has evolved and continues to invite interrogation and redefinition.</p>
			<p class="mb-8">This project embraces the value of long-form text as a space for reflection—both playful and serious—on the pressing issues affecting these communities. By revisiting the radical aims of the original publication, it will bring together contemporary writers, artists, and activists to create a critical, internationalist exploration of queer, racialised experiences as both their cinematic and real-life forms in the UK and beyond.</p>
			<p class="mb-8 leading-0"><span class="font-azeret-mono text-xl leading-0">✱</span> Abiba, Aarushi & Saundra<br><span class="font-azeret-mono text-xl">&nbsp;</span> Brixton Community Cinema, Em—Dash</p>
		</div>

	</section>

    <!-- Articles List -->
    <!-- <section class="py-16">
      <ul class="divide-y divide-dotted divide-black">
        {sortedArticles.map((article, index) => (
          <li class="py-6 first:pt-0">
            <a href={`/articles/${article.slug}`} class="block group">
              <div class="flex items-baseline gap-4">
                <span class="font-mono text-sm opacity-50">*{index + 1}</span>
                <div class="flex-1">
                  <p class="font-mono text-sm mb-1 opacity-70">{article.data.author}</p>
                  <h2 class="text-2xl font-serif group-hover:opacity-70 transition-opacity">
                    {article.data.title}
                  </h2>
                </div>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </section> -->
  </main>
  
  <Footer />
</BaseLayout>